p{
    background-color: aqua;
}

.new{
    width: 400px;
    height: 200px;
    background-color: bisque;
    padding: 10px;
    border: 10px solid black;
    margin: 20px;
    display: block;
    margin: 0px auto;
}